<!--
<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img [src]="imagem" class="img-fluid" />
    </div>
  </div>
  <div>
    <div class="row">
      <form name="formulario">
        <div class="form-group col-xs-12 col-md-4">

          <input type="file" class='form-control' id="entradaDeImagem" name="entradaDeImagem" (change)="capturaImagem($event)" [(ngModel)]="imagem"/>
        </div>
      </form>
    </div>
  </div>

</div>
 -->
